{{ partial:header }}
<div x-data="{ visible: false }" x-intersect.once="visible = true" class="overflow-hidden bg-white">
  <div
    x-show="visible"
    x-transition:enter="transition ease-out duration-300 delay-200"
    x-transition:enter-start="opacity-0 -translate-y-10"
    x-transition:enter-end="opacity-100 translate-x-0"
    class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8"
  >
    <div class="mt-8 lg:grid lg:gap-8">
      <div class="z-10 mt-8 lg:mt-0">
        <div class="prose prose-xl prose-emerald mx-auto mb-12 mt-5 text-gray-600 lg:max-w-prose">
          <h2 class="mx-auto mt-2 text-balance text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
            THIS IS THE NEW SHIT
            {{ content_title }}
          </h2>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
