<div class="relative w-screen bg-neutral-600 hero">
    <div class="absolute inset-0">
        <img class="h-full w-full object-cover grayscale" src="{{ hero_image }}" alt="">
        <div class="absolute inset-0 bg-neutral-600 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl uppercase">
            {{ hero_title }}
        </h1>
    </div>
</div>t
