<!DOCTYPE html>
<html lang="{{ site:short_locale }}" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title ?? site:name }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" />
    </head>
    <body
        class="grid h-full grid-flow-row bg-gray-100 font-body leading-normal text-gray-800"
    >
        {{ partial:nav }}
        <main>{{ template_content }}</main>
        {{ partial:footer }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
