<!DOCTYPE html>
<html lang="{{ site:short_locale }}" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZB1205FR7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-WZB1205FR7");
    </script>
  </head>
  <body class="grid h-full min-h-full grid-flow-row bg-gray-100 font-body leading-normal text-gray-800">
    {{ partial:nav }}
    <main>{{ template_content }}</main>
    {{ partial:footer }}
  </body>
</html>
