{{ partial:header }}
<div class="overflow-hidden bg-white">
    <div class="relative mx-auto max-w-7xl px-6 py-16 lg:px-8">
        <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
            <div class="relative lg:col-start-2 lg:row-start-1">
                {{ partial:svg-grid-pattern }}
                {{ partial:content-image }}
            </div>
            <div class="mt-8 lg:mt-0">
                <div
                    class="mx-auto mt-5 mb-12 text-gray-500 prose-lg prose-indigo lg:col-start-1 lg:row-start-1 lg:max-w-none">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
