{{ form:career_application class="mx-auto bg-slate-100 rounded-md p-5" }}
    {{ if success }}
        <p>Thank you for reaching out, someone will contact you within 48-72 business hours.</p>
    {{ else }}
        {{ if errors }}
            <p>please fix the errors below. Once complete plese submit the form again. If you continue to experience issues, please reach out to ...</p>
            <ol>
                {{ errors }}
                    <li>{{ value }}</li>
                {{ /errors }}
            </ol>
            <hr>
        {{ /if }}
        {{ fields }}
            {{ if handle=="role"}}
                <div class="hidden role">
                    <label for="role">Role</label>
                    <div>
                        <input type="text" name="role" value="{{ title }}">
                    </div>
                </div>
            {{ else }}
                <div class="{{ display | slugify | substr(0, 10) }} mb-4">
                    <label for="{{ display | slugify }}">{{ display }}</label>
                    <div>
                        {{ field }}
                    </div>
                    {{ if error }}
                        <p class="text-red-800">{{ error }}</p>
                    {{ /if }}
                </div>
            {{ /if }}
        {{ /fields }}
        <input
            type="text"
            class="!hidden"
            name="{{ honeypot ?? 'scalpy-honeypot' }}"
        />
        <div>
            <button
                type="submit"
                class="inline-flex justify-center rounded-md border border-transparent bg-green-scalp px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-green-scalp-light focus:outline-none focus:ring-2 focus:ring-green-scalp focus:ring-offset-2"
            >
                Submit
            </button>
        </div>
    {{ /if }}
{{ /form:career_application }}
