{{ if url == '/roles/trade-support-engineer' }}
<style>
  .linkedin-u, .portfolio-, .github-url, .other-url- {
    display: none;
  }
</style>
{{ /if }}

{{ form:career_application }}
{{ if success }}
<p>We have received your application and will get back to you shortly.</p>
{{ else }}
{{ if errors }}
<p>please fix the errors below. Once complete please submit the form again. If you continue to experience issues, please
    reach out to hr@scalptrade.com</p>
<ol>
    {{ errors }}
    <li>{{ value }}</li>
    {{ /errors }}
</ol>
<hr>
{{ /if }}

<ul role="list" class="divide-y divide-gray-100 list-none p-0 grid justify-self">
    <li class="py-2 m-0 px-0">
      <div class="flex items-start gap-x-3">
        <h3 class="truncate text-base font-semibold text-gray-900 m-0">Employment Type :</h3>
        <p class="truncate text-base text-gray-900 m-0">{{ job_type }}</p>
      </div>
    </li>
    <li class="py-2 m-0 px-0">
        <div class="flex items-start gap-x-3">
          <h3 class="truncate text-base font-semibold text-gray-900 m-0">Location :</h3>
          <p class="truncate text-base text-gray-900 m-0">{{ location }}</p>
        </div>
      </li>
      <li class="py-2 m-0 px-0">
        <div class="flex items-start gap-x-3">
          <h3 class="truncate text-base font-semibold text-gray-900 m-0">Department :</h3>
          <p class="truncate text-base text-gray-900 m-0">{{ department }}</p>
        </div>
      </li>
      <li class="py-2 m-0 px-0">
        <div class="flex items-start gap-x-3">
          <h3 class="truncate text-base font-semibold text-gray-900 m-0">Base Salary Range:</h3>
          <p class="truncate text-base text-gray-900 m-0">{{ compensation }}</p>
        </div>
      </li>
  </ul>


<h2>Overview</h2>
{{ overview }}



{{ if key_responsibilities | length > 1 }}
<h2>Key Responsibilities</h2>
{{ key_responsibilities }}
{{ /if }}

{{ if required_skills_and_qualifications | length > 1 }}
<h2>Required Skills and Qualifications</h2>
{{ required_skills_and_qualifications }}
{{ /if }}

{{ if preferred_skills | length > 1 }}
<h2>Preferred Skills</h2>
{{ preferred_skills }}
{{ /if }}

{{ if personal_attributes | length > 1 }}
<h2>Personal Attributes</h2>
{{ personal_attributes }}
{{ /if }}

{{ if application_process | length > 1 }}
<h2>Application Process</h2>
{{ application_process }}
{{ /if }}

<h2>Next Steps</h2>
<p>Please fill out the application below and we will follow up as soon as we are able to.</p>

<div class="mx-auto bg-slate-100 rounded-md p-5">
    {{ fields }}
    {{ if handle=="role"}}
    <div class="hidden role">
        <label for="role">Role</label>
        <div>
            <input type="text" name="role" value="{{ title }}">
        </div>
    </div>
    {{ else }}
    <div class="{{ display | slugify | substr(0, 10) }} mb-4">
        <label for="{{ display | slugify }}">{{ display }}</label>
        <div>
            {{ field }}
        </div>
        {{ if error }}
        <p class="text-red-800">{{ error }}</p>
        {{ /if }}
    </div>
    {{ /if }}
    {{ /fields }}
    <input type="text" class="!hidden" name="{{ honeypot ?? 'scalpy-honeypot' }}" />
    <div>
        <button type="submit"
            class="inline-flex justify-center rounded-md border border-transparent bg-green-scalp px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-green-scalp-light focus:outline-none focus:ring-2 focus:ring-green-scalp focus:ring-offset-2">
            Submit
        </button>
    </div>
    {{ /if }}
</div>

{{ /form:career_application }}