<div class="prose prose-xl prose-emerald mx-auto mt-6 text-gray-600">
    <div>
        <h2>Overview</h2>
        {{ overview }}
        <h2>Key Responsibilities</h2>
        {{ key_responsibilities }}
        <h2>Required Skills and Qualifications</h2>
        {{ required_skills_and_qualifications }}
        <h2>Preferred Skills</h2>
        {{ preferred_skills }}
        <h2>Personal Attributes</h2>
        {{ personal_attributes }}
        <h2>Application Process</h2>
        {{ application_process }}
        <h2>Next Steps</h2>
        <p>
            Please send your resume and brief description
            <a href="mailto:hr@scalptrade.com">to our team</a>.
        </p>
    </div>
</div>
